In [59]:
import pandas as pd
import numpy as np

In [3]:
expeditions = pd.read_csv('./data/expeditions.csv')
members = pd.read_csv('./data/members.csv')
peaks = pd.read_csv('./data/peaks.csv')

### Question 1

In [42]:
# Get proportion of peaks unclimbed
unclimbed_one = (peaks[peaks['climbing_status'] == 'Unclimbed'].value_counts('climbing_status')/len(peaks))
unclimbed_one # around 27% are still unclimbed

climbing_status
Unclimbed    0.271368
dtype: float64

In [43]:
#OR

unclimbed_two = (peaks['climbing_status'].value_counts()['Unclimbed']/len(peaks))
unclimbed_two

0.27136752136752135

In [33]:
# Get Avg. Height of climbed & unclimbed

avg_height = peaks.groupby('climbing_status')['height_metres'].mean()
avg_height # 6706.3 for Climbed, 6523.3 for Unclimbed

climbing_status
Climbed      6706.284457
Unclimbed    6523.330709
Name: height_metres, dtype: float64

### Question 2

In [66]:
members_citizenship = members[members['citizenship'] == 'Nepal']
members_citizenship # get Sherpas

,expedition_id,member_id,peak_id,peak_name,year,season,sex,age,citizenship,expedition_role,...,highpoint_metres,success,solo,oxygen_used,died,death_cause,death_height_metres,injured,injury_type,injury_height_metres
24,AMAD79101,AMAD79101-18,AMAD,Ama Dablam,1979,Spring,M,23.0,Nepal,H-A Worker,...,6814.0,True,False,False,False,NaN,NaN,False,NaN,NaN
48,AMAD79301,AMAD79301-26,AMAD,Ama Dablam,1979,Autumn,M,NaN,Nepal,H-A Worker,...,6814.0,True,False,False,False,NaN,NaN,False,NaN,NaN
49,AMAD79301,AMAD79301-24,AMAD,Ama Dablam,1979,Autumn,M,NaN,Nepal,H-A Worker,...,6814.0,True,False,False,False,NaN,NaN,False,NaN,NaN
50,AMAD79301,AMAD79301-25,AMAD,Ama Dablam,1979,Autumn,M,NaN,Nepal,H-A Worker,...,6814.0,True,False,False,False,NaN,NaN,False,NaN,NaN
82,AMAD81101,AMAD81101-11,AMAD,Ama Dablam,1981,Spring,M,25.0,Nepal,H-A Worker,...,6814.0,True,False,False,False,NaN,NaN,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76506,PUMO19102,PUMO19102-01,PUMO,Pumori,2019,Spring,M,35.0,Nepal,Leader,...,7138.0,True,False,False,False,NaN,NaN,False,NaN,NaN
76507,PUMO19102,PUMO19102-02,PUMO,Pumori,2019,Spring,M,52.0,Nepal,H-A Worker,...,7138.0,True,False,False,False,NaN,NaN,False,NaN,NaN
76513,PUTH19101,PUTH19101-06,PUTH,Putha Hiunchuli,2019,Spring,M,NaN,Nepal,H-A Worker,...,6350.0,False,False,False,False,NaN,NaN,False,NaN,NaN
76514,PUTH19101,PUTH19101-07,PUTH,Putha Hiunchuli,2019,Spring,M,44.0,Nepal,H-A Worker,...,6350.0,False,False,False,False,NaN,NaN,False,NaN,NaN
76518,SANK19101,SANK19101-03,SANK,Sano Kailash,2019,Spring,M,41.0,Nepal,H-A Worker,...,6452.0,True,False,False,False,NaN,NaN,False,NaN,NaN

In [56]:
members_cit_hired = members_citizenship['hired'].value_counts()[True]/len(members_citizenship)
members_cit_hired # hired percentage ~ 93.4%

0.9340563991323211

In [69]:
members_cit_age = members_citizenship[['age','citizenship']].groupby('citizenship').agg(['min', 'max', 'mean'])
members_cit_age

              age
              min   max       mean
citizenship
Nepal        12.0  85.0  32.885062

### Question 3

Now use all three data sets and join them on the provided ID variables. For this question, limit yourself to the subset of non-hired participants.

a) What is the first record of a woman summitting a peak? Which peak (name and height in meters) was that?

b) Provide a single cross-tab table of the sex of an expedition participant and - the proportion of success in summitting a main peak or sub-peak
- the proportion of participants using oxygen support - the proportion of participants who died.

That is, sex should be displayed as the rows of the output and the three requested proportions as its columns.

In [42]:
merged_data = pd.merge(pd.merge(peaks, expeditions, 
         how = 'left', on = ['peak_id', 'peak_name']), members[members['hired'] == False],
         how = 'left', on = ['expedition_id', 'peak_id', 'peak_name','year', 'season'])

merged_data

,peak_id,peak_name,peak_alternative_name,height_metres,climbing_status,first_ascent_year,first_ascent_country,first_ascent_expedition_id,expedition_id,year,...,highpoint_metres_y,success,solo,oxygen_used_y,died,death_cause,death_height_metres,injured,injury_type,injury_height_metres
0,AMAD,Ama Dablam,Amai Dablang,6814,Climbed,1961.0,"New Zealand, USA, UK",AMAD61101,AMAD88101,1988.0,...,5770.0,False,False,False,False,NaN,NaN,False,NaN,NaN
1,AMAD,Ama Dablam,Amai Dablang,6814,Climbed,1961.0,"New Zealand, USA, UK",AMAD61101,AMAD88101,1988.0,...,NaN,False,False,False,False,NaN,NaN,True,AMS,NaN
2,AMAD,Ama Dablam,Amai Dablang,6814,Climbed,1961.0,"New Zealand, USA, UK",AMAD61101,AMAD88101,1988.0,...,NaN,False,False,False,False,NaN,NaN,True,Falling rock / ice,NaN
3,AMAD,Ama Dablam,Amai Dablang,6814,Climbed,1961.0,"New Zealand, USA, UK",AMAD61101,AMAD88101,1988.0,...,5770.0,False,False,False,False,NaN,NaN,False,NaN,NaN
4,AMAD,Ama Dablam,Amai Dablang,6814,Climbed,1961.0,"New Zealand, USA, UK",AMAD61101,AMAD88102,1988.0,...,6520.0,False,False,False,False,NaN,NaN,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60873,JANE,Jannu East,Khumbhakarna East,7460,Unclimbed,NaN,NaN,NaN,JANE18301,2018.0,...,NaN,False,False,False,False,NaN,NaN,False,NaN,NaN
60874,JANE,Jannu East,Khumbhakarna East,7460,Unclimbed,NaN,NaN,NaN,JANE19101,2019.0,...,7412.0,False,False,False,False,NaN,NaN,False,NaN,NaN
60875,JANE,Jannu East,Khumbhakarna East,7460,Unclimbed,NaN,NaN,NaN,JANE19101,2019.0,...,7412.0,False,False,False,False,NaN,NaN,False,NaN,NaN
60876,JANE,Jannu East,Khumbhakarna East,7460,Unclimbed,NaN,NaN,NaN,JANE19101,2019.0,...,5100.0,False,False,False,False,NaN,NaN,False,NaN,NaN
60877,YUBR,Yubra,NaN,6264,Unclimbed,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [75]:
first_female = merged_data[(merged_data['sex'] == 'F') & (merged_data['success'] == True)].nsmallest(1, 'year', keep = 'all')[['peak_name', 'height_metres']]

first_female

      peak_name  height_metres
57823  Tengkoma           6215
58251    Dzanye           6581