In [2]:
import sqlalchemy
engine = sqlalchemy.create_engine('mysql+pymysql://guest:guest@shiny-demo.csa7qlmguqrf.us-east-1.rds.amazonaws.com/shinydemo')

In [1]:
%load_ext sql

In [3]:
%sql mysql+pymysql://guest:guest@shiny-demo.csa7qlmguqrf.us-east-1.rds.amazonaws.com/shinydemo

In [4]:
%sql SHOW TABLES

 * mysql+pymysql://guest:***@shiny-demo.csa7qlmguqrf.us-east-1.rds.amazonaws.com/shinydemo
3 rows affected.

[('City',), ('Country',), ('CountryLanguage',)]

In [5]:
%sql SHOW TABLES

 * mysql+pymysql://guest:***@shiny-demo.csa7qlmguqrf.us-east-1.rds.amazonaws.com/shinydemo
3 rows affected.

[('City',), ('Country',), ('CountryLanguage',)]

In [ ]:
%sql SELECT Language FROM CountryLanguage

In [ ]:
%%sql 
SELECT DISTINCT Language 
FROM CountryLanguage

In [ ]:
%%sql 
SELECT DISTINCT GovernmentForm
FROM Country

In [18]:
%%sql
SELECT COUNT(*)
FROM Country

 * mysql+pymysql://guest:***@shiny-demo.csa7qlmguqrf.us-east-1.rds.amazonaws.com/shinydemo
1 rows affected.

[(239,)]

In [19]:
%%sql
SELECT COUNT(Name), COUNT(LifeExpectancy)
FROM Country

 * mysql+pymysql://guest:***@shiny-demo.csa7qlmguqrf.us-east-1.rds.amazonaws.com/shinydemo
1 rows affected.

[(239, 222)]

In [20]:
%%sql
SELECT COUNT(DISTINCT Language)
FROM CountryLanguage

 * mysql+pymysql://guest:***@shiny-demo.csa7qlmguqrf.us-east-1.rds.amazonaws.com/shinydemo
1 rows affected.

[(457,)]

In [22]:
%%sql
SELECT Name 
FROM Country 
WHERE LifeExpectancy > 80

 * mysql+pymysql://guest:***@shiny-demo.csa7qlmguqrf.us-east-1.rds.amazonaws.com/shinydemo
5 rows affected.

[('Andorra',), ('Japan',), ('Macao',), ('Singapore',), ('San Marino',)]

In [ ]:
%%sql
SELECT CountryCode, Language, Percentage
FROM CountryLanguage 
WHERE IsOfficial = TRUE
AND Percentage < 3

In [25]:
%%sql
SELECT Name, Population
FROM City
ORDER BY Population Desc
LIMIT 5

 * mysql+pymysql://guest:***@shiny-demo.csa7qlmguqrf.us-east-1.rds.amazonaws.com/shinydemo
5 rows affected.

[('Mumbai (Bombay)', 10500000.0),
 ('Seoul', 9981619.0),
 ('Shanghai', 9696300.0),
 ('Jakarta', 9604900.0),
 ('Karachi', 9269265.0)]

In [ ]:
%%sql