### Lecture 6: Strings and Regex

You can easily reverse strings using negative indexing

In [1]:
s = 'Three, two, one, go!'

s[::-1]

'!og ,eno ,owt ,eerhT'

In [6]:
s[::1]

'Three, two, one, go!'

In [8]:
print(s.replace(',', '!!!!'))

print(s.replace(',', '!', 1)) #specify occurences

Three!!!! two!!!! one!!!! go!
Three! two, one, go!

In [9]:
import re

In [10]:
#re.search returns a match object

s = 'The first rule of Fight Club is: You do not talk about Fight Club.'

re.search('Fight Club', s)

In [ ]:
#re.match works at beginning of string

s = 'Bond. James Bond.'

re.match('James', s) # returns None if no match at the beginning of the string

In [ ]:
#replace with sub()

s = '510-747-3848'

re.sub('-', '.', s)

In [14]:
import pandas as pd

babyname = pd.read_csv('/Users/jacksonrudoff/Documents/QMSS/Fall_2022/mds_course/course_content/Lectures/Week06/data/yob2021.txt', names=['name', 'sex', 'number'])
babyname.head()

        name sex  number
0     Olivia   F   17728
1       Emma   F   15433
2  Charlotte   F   13285
3     Amelia   F   12952
4        Ava   F   12759

In [16]:
# Extracting lists for boys' and girls' names
boy_names = babyname[babyname['sex'] == 'M']['name']
girl_names = babyname[babyname['sex'] == 'F']['name']

In [50]:
boy_names[boy_names.str.count('[Qq]') == 2]

17988        Tripp
18903     Zeppelin
19019         Ripp
19149     Giuseppe
21216         Kipp
21345       Copper
21500     Sheppard
21775      Chipper
22275      Trapper
22575     Philippe
23956      Filippo
25019       Topper
25898       Hopper
26153    Philippos
26943       Pepper
26946      Philipp
28004       Pippin
29583      Zepplin
30666       Kopper
31114      Rippley
31355        Trypp
Name: name, dtype: object

In [ ]:
area_codes = re.search(r'\b(\d{3})')